
<div class="wrapper">

<% if @page.images.any? %>
<div class="carousel-wrapper">
  <div class="carousel-2">
  <div class="container-fluid">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% i=0 %>
    <% while i < @page.images.size do %>
    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class=<%= "active" if i==0 %>></li>
    <% i+=1 %>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
<% @page.image_pages.each do |ip| %>
    <div class="item<%= ' active' if ip.image.id==1 %>">
       <%= image_tag(ip.image.thumbnail(:geometry => "970x540").url, :title => ip.image.title)%>
       <div class="carousel-caption">
        <!-- <h2><%#= image.id %></h2> -->
        <%= raw ip.caption %> 
      </div>  <!-- carousel-caption -->
    </div> <!-- item active -->
<% end %>
</div> <!-- carousel-inner -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- carousel-example-generic -->

  </div> <!-- row carosel -->
</div> <!-- end container-fluid carousel -->
</div> <!-- carousel wrapper -->
</div>
<% end %> <!-- end of @page.images.any?  -->
<!-- END OF CAROUSEL -->

        
<section id="quotation-outer-wraper">
  <div class="container-fluid">
    <div class="row">
      <div class="quotation-wraper custom-padding">
        <h2>Quotation of the Day</h2>

        <% @quotations.each do |q| %>
          <blockquote>
            <dl>
              <dt><%= q.title %></dt>
              <dd><%= raw q.quote %></dd>
            </dl>
            <cite><small><%= q.name %></small></cite>
          </blockquote>
        <% end %>

      </div> 
    </div> <!-- row -->
  </div><!-- container-fluid -->
</section>
  <!-- END OF QUOTATION -->
<section>
  <div class="ctas">
    <div class="container-fluid p-light-blue">
    <div class="row">
      <div class="cta col-sm-6">
        <div class="cta-inner">
          <h2>Books</h2>
          <ul>
            <li>Great Collection</li>
            <li>Health Boostor</li>
            <li>Item 3</li>
            <a href="#" class="btn btn-primary btn-xs">Read more &hellip;</a>
          </ul>
      </div> <!-- cta-inner -->
        </div>
      <div class="cta col-sm-6">
         <div class="cta-inner">
          <h2>Equipment</h2>
          <ul>
            <li>Women Hanger</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <a href="#" class="btn btn-primary btn-xs">Read more &hellip;</a>
          </ul>
        </div> <!-- cta-inner -->
      </div>
    
      <div class="cta col-sm-6">
         <div class="cta-inner">
          <h2>Vitamins</h2>
          <ul>
            <li>Febrosischetosis</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <a href="#" class="btn btn-primary btn-xs">Read more &hellip;</a>
          </ul>
        </div> <!-- cta-inner -->
      </div>
      <div class="cta col-sm-6">
         <div class="cta-inner">
          <h2>Food</h2>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
           <a href="#" class="btn btn-primary btn-xs">Read more &hellip;</a>
          </ul>
        </div> <!-- cta-inner -->
      </div>
    </div> <!-- row -->
    </div> <!-- end container-fluid-fluid -->
</div>
  <!-- END OF CTA -->
  <article>
    <div class="container-fluid p-light-blue">
      <div class="row">
        <div id="main" class="custom-padding">
          <%#=  raw @page.content_for(:body) %>
          <%= raw(content_fu(@page.content_for(:body), '96x96#c')) %>
        </div>
      </div>
    <!-- END OF BODY -->
    </div>
  </article>


  <div class="container-fluid p-black">
    <div class="row">
      <div class="blog-section">
      <div class="blog-left col-sm-3">
        <h2>About the Author</h2>
        <h3>Dr. Khurshid Anwar</h3>
        
        <%= image_tag '/assets/doctor.jpg', :size => '200x200', :class => "img-circle img-responsive img-thumbnail"%>
        <p>He is an MBBS doctor    having     vast     experience (>25 years) of   Community   Health, Surveillance    of     EPI  target   diseases    and     Family Health. He   also supervised     Malaria       control   programme  in  UNHCR funded project of  a  Refugee   Camp   in  Pakistan.  His   online activities include Bloging on Health related issues and   participation    in       'Yahoo   answars'.</p>
      </div> <!-- end author bio -->
      
      <div class="blog-right col-sm-9">
        <h2>Latest Articles from Your Doctor</h2>


        <% @blog_posts.each do |post| %>

        <div class="blog-entry clearfix">
         

          <a href="<%= blog_post_url(post) %>"><h3><%= post.title %></h3></a>
          <% if post.images.any? %>
            <%= link_to image_fu(post.images.first, '100x100#c', :class =>"img-circle img-responsive"), refinery.blog_post_path(post) %>
          <% else %>
            <%= link_to(image_tag('/assets/blog.jpeg', :size => '100x100', :class => "img-circle img-responsive"),refinery.blog_post_path(post))%>
          <% end %>
          <% if post.custom_teaser.present? %>
              <%= raw post.custom_teaser %>
          <% else %>
              <%= raw truncate post.body, :length => 250, :omission => '...' %>  
          <% end %>        
                  <%= link_to('Read more', refinery.blog_post_path(post), :class => "btn btn-primary btn-xs pull-right") %>
         <%#= post.image_pages.first.image.thumbnail(:geomatery => '100x100').url %>
         
        </div> <!-- end of except -->

        <% end %>

        </div> <!-- end author bio -->
      </div> <!-- end of blog-excerpts -->
    </div> <!-- end of row -->
  </div> <!-- end of cotainer -->

<!-- END OF BLOG-EXCERPTS -->

</section>

   
</div> <!-- wrapper -->