
<div class="wrapper">

<%= render :partial => '/refinery/shared/carousel', :locals => {:object => @page} %>

<section id="quotation-outer-wraper">
  <div class="container">
    <div class="row">
      <div class="quotation-wraper custom-padding">
        <h2>Quotation of the Day</h2>

        <% @quotations.each do |q| %>
          <blockquote>
            <dl>
              <dt><%= q.title %></dt>
              <dd><%= raw q.quote %></dd>
            </dl>
            <cite><small><%= q.name %></small></cite>
          </blockquote>
        <% end %>

      </div> 
    </div> <!-- row -->
  </div><!-- container -->
</section>
  <!-- END OF QUOTATION -->

<section>
  <div class="container p-light-blue">
    <div class="p-light-blue">
      <div class="row ctas">
        <div class="row">
          <div class="cta col-sm-6">
            <div class="cta-inner">
              <h2>Books</h2>
              <ul>
                <li>Weight Control</li>
                <li>Beauty &amp; Skin Care</li>
                <li>Nutrition</li>
                <li>Exercise</li>
                <%= link_to "Read more", '/books', :class => "btn btn-primary btn-xs" %>
              </ul>
            </div> <!-- cta-inner -->
          </div> <!-- cta col-sm-6 -->
          
          <div class="cta col-sm-6">
             <div class="cta-inner">
              <h2>Equipment</h2>
              <ul>
                <li>Body Measurement Products</li>
                <li>Massage Devices</li>
                <li>Exercise Machines</li>
                <%= link_to "Read more", '/equipment-health-devices', :class => "btn btn-primary btn-xs" %>
              </ul>
            </div> <!-- cta-inner -->
          </div> <!-- cta col-sm-6 -->
          </div> <!-- End of 1st row of two col-sm-6 -->
          <div class="row">
          <div class="cta col-sm-6">
             <div class="cta-inner">
              <h2>Vitamins</h2>
              <ul>
                <li>Multivitamins &amp; Minerals</li>
                <li>Nerve Tonics</li>
                <li>Digestive Tonics</li>
                <%= link_to "Read more", '/vitamins', :class => "btn btn-primary btn-xs" %>
              </ul>
            </div> <!-- cta-inner -->
          </div> <!-- cta col-sm-6 -->

          <div class="cta col-sm-6">
             <div class="cta-inner">
              <h2>Food</h2>
              <ul>
                <li>Weight Loss</li>
                <li>Body Building</li>
                <li>Power Tonics</li>
               <%= link_to "Read more", '/food-supplement', :class => "btn btn-primary btn-xs" %>
              </ul>
            </div> <!-- cta-inner -->
          </div> <!-- cta col-sm-6 -->
    </div> <!-- row -->
  </div> <!-- ctas -->
</div> <!-- p-light-blue -->
</div> <!-- end container -->

 
  <!-- END OF CTA -->
  <article>
    <div class="container p-light-blue">
      <div class="row">
        <div id="main" class="custom-padding">
          <%#=  raw @page.content_for(:body) %>
          <%= raw(content_fu(@page.content_for(:body), '96x96#c')) %>
        </div>
      </div>
    <!-- END OF BODY -->
    </div>
  </article>


  <div class="container p-black">
    <div class="row">
      <div class="blog-section">
      <div class="blog-left col-sm-3">
        <h2>About the Author</h2>
        <h3>Dr. Khurshid Anwar</h3>
        
        <%= image_tag '/assets/doctor.jpg', :size => '200x200', :class => "img-circle img-responsive img-thumbnail"%>
        <p>He is an MBBS doctor    having     vast     experience (>25 years) of   Community   Health, Surveillance    of     EPI  target   diseases    and     Family Health. He   also supervised     Malaria       control   programme  in  UNHCR funded project of  a  Refugee   Camp   in  Pakistan.  His   online activities include Bloging on Health related issues and   participation    in       'Yahoo   answars'.</p>
      </div> <!-- end author bio -->
      
      <div class="blog-right col-sm-9">
        <h2>Latest Articles from Your Doctor</h2>


        <% @blog_posts.each do |post| %>

        <div class="blog-entry clearfix">
         

          <a href="<%= blog_post_url(post) %>"><h3><%= post.title %></h3></a>
          <% if post.images.any? %>
            <%= link_to image_fu(post.images.first, '100x100#c', :class =>"img-circle img-responsive"), refinery.blog_post_path(post) %>
          <% else %>
            <%= link_to(image_tag('/assets/placeholder.jpg', :size => '100x100', :class => "img-circle img-responsive"),refinery.blog_post_path(post))%>
          <% end %>
          <% if post.custom_teaser.present? %>
              <%= raw post.custom_teaser %>
          <% else %>
              <%= raw truncate post.body, :length => 250, :omission => '...' %>  
          <% end %>        
                  <%= link_to('Read more', refinery.blog_post_path(post), :class => "btn btn-primary btn-xs pull-right") %>
         <%#= post.image_pages.first.image.thumbnail(:geomatery => '100x100').url %>
         
        </div> <!-- end of except -->

        <% end %>

        </div> <!-- end author bio -->
      </div> <!-- end of blog-excerpts -->
    </div> <!-- end of row -->
  </div> <!-- end of cotainer -->

<!-- END OF BLOG-EXCERPTS -->

</section>

   
</div> <!-- wrapper -->