<div class="container">
  <div class="row">

<!-- <ul id='gallery'>
    <% @page.images.each do |image| %>
      <li class="well">
        <%= link_to image_tag(image.thumbnail(geometry: "200x200#c").url), 
                    image.thumbnail(geometry: "900x600").url %>
      </li> <%= link_to 'My BootstapButton', "#", class: "btn btn-default" %>
   <% end %>
  </ul>  -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    
    
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
<% @page.images.each do |image| %>
    <div class="item<%= cycle(' active', '', '') %>">
      <img src="<%= image.thumbnail(geometry: "900x500").url %>">
    <div class="carousel-caption">
        <h2><%= image.id %></h2>
      </div>
    </div>
<% end %>
  </div> <!-- end carosel indicator -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div> <!-- EO row -->
</div> <!-- EO container -->

<%= render '/refinery/content_page' %>

<div class="well">
  <%= link_to 'Home', root_url, class: 'btn btn-primary' %>
</div>

<ul>
<% @blog_posts.each do |p| %>

  <li><%= link_to p.title, blog_post_url(p) %>
    <p><%= raw p.custom_teaser %></p>
    <p><%= image_fu p.images.first, '200x200' %></p>
  </li>
  <% end %>
</ul>
pionos
<ul>
  <% @pianos.each do |pi| %>
<li><%= image_fu pi.photo, '200x200' %><%= "#{pi.id} from #{pi.name} pict:" %> </li>
<% end %>
</ul>


<hr>
<h2>Quotations</h2>
<% @quotations.each do |q| %>
<h3><%= q.author %></h3>
<p><%= raw q.quotation %></p>
<% end %>