<section class="body">
  <%= raw @page.content_for(:body) %>
</section>
<section class="side_body">
  <%= raw @page.content_for(:side_body) %>
</section>
<hr>
<% content_for :side_body do  %>
  <ul id='gallery'>
    <% @page.images.each do |image| %>
      <li class="well">
        <%= link_to image_tag(image.thumbnail(geometry: "200x200#c").url), 
                    image.thumbnail(geometry: "900x600").url %>
      </li> <%= link_to 'My BootstapButton', "#", class: "btn btn-default" %>
   <% end %>
  </ul>
<% end %>
<%= form_tag refinery.search_path do -%>
  <%= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Search site for...", 
                     :value => (params[:query] if params[:query])} %>
  <%= submit_tag 'Go' %>
<% end %>
<div class="well">
  <%= render :partial => "/refinery/content_page" %>
</div>