<div class="header-wrapper container">

  <div id="top-head" class="row">

    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      <%= render partial: 'refinery/shared/social_icons' %>
      <%= form_tag refinery.search_path do -%>
        <%= text_field_tag :query, {}, {:type => "search",
                           :placeholder => "Search site for...", 
                           :value => (params[:query] if params[:query])} %>
        <%= submit_tag 'Find', class: 'btn btn-default btn-primary' %>
      <% end %>

      <section id='logo'>
        <h1<%= " class=display-logo" if @page.id==1 %>>
          <%= link_to Refinery::Core.site_name, refinery.root_path %>
        </h1>
        
      </section>
   </div>  <!--row --> 
    <h2 id="slogan">Be Happy Live Long...</h2>

</div> <!-- header-wrapper -->
